.activity-card{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.activity-card:hover{
    transform: translateY(-3px);
    background-color: #dff0ff;
    color: #007bff;
}
