/*Navigation Bar*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
    color: #007bff;
}
.nav-bar h2{
    align-content: center;
    padding-left: 5px;
}
.nav-bar nav{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.nav-bar nav a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    transition: all 0.3s ease;
}
.nav-bar nav a:hover {
    color: #007bff;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-btn{
    display: none;
}

.notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1.1rem;
    position: relative;
    transition: all 0.3s ease;
}

.notification-btn:hover {
    color: #007bff;
}
.notification-btn.active {
    color: #007bff;
}
/*Notifications*/
.notification-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.notification-dropdown {
    position: absolute;
    right: 0;
    top: 55px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 320px;
    max-height: 200px;
    overflow-y: auto;
    padding: 8px 0;
    animation: fadeIn 0.2s ease;
}

.notification-item {
    padding: 10px 15px;
    font-size: 0.9rem;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
    transition: all 0.3s ease;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item:hover {
    background-color: #dff0ff;
    color: #007bff;
}
.time{
    font-size: 0.6rem;
}
/*Animations*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*Mobile Optimization*/
@media (max-width: 768px) {
    .nav-bar nav a{
        display: none;
    }
    .menu-btn{
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

}


