.table-container {
    padding: 1.5rem;
    background: #fff;
    border-radius: 12px;
}

.table-container h2 {
    margin-bottom: 1rem;
    color: #000000;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
}

.project-table thead {
    background-color: #007bff;
    color: white;
}

.project-table th,
.project-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.project-table td:hover{
    cursor: pointer;
    background-color: #e6e6e6;
    transition: all 0.3s ease;
}

.project-table th {
    font-weight: 600;
}
